.money{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 70px;
  display: inline-block;
  width: 30%;
  padding: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px;
  text-align: center;
}
.takeside{
  text-align : center;
    
}

.status{
  
  display: block;
}


.insertionArea{
  width: fit-content;
  padding: 0px;
  display: inline-block;
}
.insertionArea2{
  width: fit-content;
  display: inline-block;
  
}

.btn {
    appearance: none;
    border-radius: 0px;
    background-color: #972505;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 16px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    display: block;
  }
  

.btn2 {
  appearance: none;
  border-radius: 0px;
  background-color: #DA1546;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 16px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  
  display: block;
}
button:focus{
  outline: none;
}
.btn2:active{
  background-color: #BE1C1C; 

}

button:disabled{
  cursor: not-allowed;
  background-color: #D8A5BE;
  
}
button:enabled{
  cursor: pointer;
  
}

  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  

  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }